# ---> C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/.vs
/bin
/obj
/logs
/LogTheDay.WebAPI/LogTheDay.Tests/bin
/LogTheDay.WebAPI/LogTheDay.Tests/obj
/bin/Debug/net8.0/LogTheDay_WebAPI.deps.json
/bin/Debug/net8.0/LogTheDay_WebAPI.runtimeconfig.json
/obj/Debug/net8.0/staticwebassets/msbuild.build.LogTheDay_WebAPI.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.LogTheDay_WebAPI.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.LogTheDay_WebAPI.props
/obj/Debug/net8.0/LogTheDay_WebAPI.AssemblyInfo.cs
/obj/Debug/net8.0/LogTheDay_WebAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.assets.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.csproj.AssemblyReference.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/LogTheDay_WebAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/LogTheDay_WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/LogTheDay_WebAPI.genruntimeconfig.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.GlobalUsings.g.cs
/obj/Debug/net8.0/LogTheDay_WebAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/LogTheDay_WebAPI.MvcApplicationPartsAssemblyInfo.cs
/obj/LogTheDay_WebAPI.csproj.nuget.dgspec.json
/obj/LogTheDay_WebAPI.csproj.nuget.g.props
/obj/LogTheDay_WebAPI.csproj.nuget.g.targets
/LogTheDay_WebAPI.http
/LogTheDay_WebAPI.sln
/LogTheDay.WebAPI/LogTheDay.Tests/bin/Debug/net8.0/LogTheDay.WebAPI/LogTheDay.Tests/bin/Debug/net8.0
/LogTheDay.WebAPI/LogTheDay.Tests/bin/Debug/net8.0
/LogTheDay.csproj.user
